<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->
<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="icon" href="../../static/logo/bye_bye_birdie.png" type="image/icon type">

    <title>Bye Bye Birdie</title>
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/static/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/static/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/static/css/examples.css" rel="stylesheet">
</head>


<style>
    .flash-message-yay {
        background-color: #a47148;
        color: white;
        padding: 10px;
    }

    .flash-message-fail {
        background-color: #f96f5d;
        color:white;
        padding: 10px
        ;

    .logo-container {
    width: 100%;
    max-width: 300px; /* Limit the container's maximum width */
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
    object-fit: contain; 
}
    }
</style>

{{#if flash}}
<div class="{{style}}">{{flash.content}}</div>
{{/if}}



<body>

    <div class="bg-light min-vh-100 d-flex flex-column justify-content-center align-items-center">

        <div class="logo-container login">
            <div class="logo-image">
                <img src="../../static/logo/bye_bye_birdie.png" alt="">
            </div>
        </div>
        {{{body}}}
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/static/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/static/vendors/simplebar/js/simplebar.min.js"></script>
    <script>
    </script>


</body>

</html>