.visitedUserInformation,.messages-display
{
    width: 80%;
    margin: 15px auto;
    padding:25px;
    border-radius: 1.2rem;
}

.sendMessageDisplay{
    width: 50%;
    margin: 15px auto;
    padding:15px;
    border-radius: 1.2rem;
}
.visitedUserInformation,
.sendMessageDisplay{
    display: flex;
    gap:10px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.visitedUserProfilePicture{
    width: 60px;
}

.displayProfilePicture{
    width: 30px;
    flex-shrink: 0;
}

.displayProfilePicture img{
    width: 100%;
    border:2px solid black;
    border-radius: 2rem;}

.visitedUserProfilePicture img{
    width: 100%;
    border:2px solid black;
    border-radius: 2rem;
}
.messages-display{
    max-height: 80vh;
    overflow: scroll;

}
.visitedUserUsername{
    font-size: 1.4rem;
    font-weight: 700;
}

.message-flex-item{
    display: flex;
    gap:20px;
    align-items: center;
}

.displayMessage{
    border-radius: 1.5rem;
    text-align: left;
    padding:15px 15px;
    flex-basis: 1;
}
.displayMessage.loggedInUser{
    background-color: white;

}

.displayMessageTimeStamp{
    margin: 10px;
}

.displayMessage.visitingUser{
    background-color:#415ff3;
    color:white;
}

.message-item.loggedInUser{
    display: grid;
    justify-items: end;
}

.sendMessageDisplay form{
    border: none;
    width: 100%;
}

.sendMessageDisplay form div input{
    width: 100%;
    border: none;
}

.sendMessageDisplay input:focus{
    outline: none;
}

.sendMessageDisplay form div{
    display: flex;
    gap:15px;
}

.sendMessageDisplay form div button{
    background: transparent;
    border: none;
}

a:hover{
    color:black;
}

