.container-profile{
    width: 90%;
    margin: 0 auto;
}   

.container-profile .top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    justify-items: center;
}

.left, .right{
    padding-top:30px;
}

.container-profile button{
    border: none;
}

.button button{
    padding:5px 10px;
    background-color: #a47148;
    color: white;
}

.container-profile .left{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    font-size: 1.2rem;
    text-align: center;
    justify-items: center;
}
.container-profile .left .count {
    font-weight: 700;
}
.container-profile .left .countText {
    font-weight: 400;
    width: fit-content;
}

.container-profile .right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    font-size: 1.2rem;
}


.container-profile .middle img{
    width: 100%;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    bottom:20px;
}


/* add mobile styles */
