.container-profile{
    width: 70%;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}


.empty{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #a47148;
}

.container-profile .top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:20px;
    justify-items: start;
}

.left, .right{
    padding-top:30px;
}

.middle,.left{
    padding:40px 20px;
}

.container-profile button{
    border: none;
}

.button button{
    padding:5px 10px;
    background-color: #a47148;
    color: white;
}

.left{
    display: grid;
    justify-content: center;
}

.left .leftTwo {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.left .leftTwo > *{
    flex: 1;
    text-align: center;
}

.container-profile .right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    font-size: 1.2rem;
}

.container-profile .middle img{
    width: 100%;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border:6px solid black;
    border-radius: 50%;
    
}

.info{
    text-align: center;
}
.info.name{
    text-align: center;
    font-size: 1.8rem;
}

.container-profile.languageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    background: none;
}

.container-profile      .languageFluent,
.container-profile .languageLearn{
    background: white;
    padding: 30px;

}

.languageItemsContainer{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.languageFluent h1,
.languageLearn h1{
    font-size: 2rem;

}

.container-profile      .languageFluent *,
.container-profile .languageLearn *{
    flex: 1;
}

.container-profile.languageContainer.heading{
    text-align: center;
    padding:20px 0;
}

.languageItemsContainer .language-information .image,
.languageItemsContainer .language-information .image{
    width: 70px;
}
/* add mobile styles */

.badge-img{
    width: 80%;
    padding-bottom: 50px;
}

.badge-img img{
    width: 100%;
}

.badges-container{
    padding:20px 0 0 20px;
    display: grid;
    gap:40px;
}

.badges-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.badge-name{
    font-weight: 600;
    font-size: 2rem;
}

.badge-description{
    font-size: 1.4rem;
}

.container-profile.badges h1{
    text-align: center;
    padding:20px 0 0 0;
}

.badge-image,
.badge-info{
    margin-bottom: 10px;
}

.badge-progress{
    font-size: 2rem;
}