.container-lg{
    padding:40px;
}

.heading{
    text-align: center;
}

.flag-language-question{
    margin:30px;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: black;
}

a.item:hover{
    border: 2px solid rgb(32, 119, 233);
    color:rgb(5, 94, 212);

}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    border: 2px solid rgb(218, 225, 234);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Added padding for inner spacing */
}

.language-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.language-information .image {
    width: 60%;
}

.language-information .name{
    font-size: 1.3rem;
    font-weight: 600;
}

.language-information .image img {
    width: 100%;
}


.link-btn{
    padding: 10px 60px;
    background-color: #0d6efd;
    color:white;
}

.link-btns{
    display: flex;
    margin:20px 0;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.language-selection p{
    font-size: 1.3rem;
    font-weight: 600;
}