    <div class="heading">
        <h1>Welcome {{ toTitleCase username}}</h1>
    </div>
<div class="container-home">
    <div class="home-information">
        <div class="language-selection">
            <p>Language(s) you are fluent in:</p>
            <ul>
                {{#each languageFluent}}
                <li>{{toTitleCase this}}</li>
                {{/each}}
            </ul>
            <p>Language(s) you have selected to learn:</p>
            <ul>
                {{#each languageLearn}}
                <li>{{toTitleCase this}}</li>
                {{/each}}
            </ul>
        </div>
        <a class="link-btn" href="/home/languageLearn">Change Preferences:</a>

    </div>

    <div class="badges-showcase-container">
        <div class="badge-item-heading">
            <h1>Your Badges</h1>
        </div>
        <div class="badge-item-container">
        {{#each badges}}

        <div class="badge-item">
            <img src="../static/images/badge-icons/{{this.activePath}}" alt="">
        </div>
        {{/each}}
        </div>
    </div>



</div>
