

<p>Welcome {{username}}</p>

language Learning
<ul>
    {{#each languageLearn}}
    <li>{{this}}</li>
    {{/each}}
</ul>
language Fluent
<ul>
    {{#each languageFluent}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<a class = "link-btn" href="/home/languageLearn">Change Preferences:</a>