
<h1>Welcome {{username}}</h1>

    <p> What Languages Would you like to learn?</p>
<div class="container">
    <a class="item" href = "/home/languageLearn/english">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name">English</div>
        </div>
    </a>
    <a class="item" href = "/home/languageLearn/urdu">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/pakistan.png" alt="">
            </div>
            <div class="name">Urdu</div>
        </div>
    </a>
    <a class="item" href = "/home/languageLearn/arabic">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/arabic.png" alt="">
            </div>
            <div class="name">Arabic</div>
        </div>
    </a>
</div>
<br>


<b>Language(s) you have selected to learn:</b>
<ul>
    {{#each languageLearn}}
    <li>{{this}}</li>
    {{/each}}
</ul>


<div  class = "link-btns">
    <a  class = "link-btn" href="/home/languageFluent">Next</a>
</div>
