
<h1>Welcome {{username}}</h1>

    <p>What Languages are you fluent in?</p>
<div class="container">
    <a class="item" href = "/home/languageFluent/english">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name">English</div>
        </div>
    </a>
    <a class="item" href = "/home/languageFluent/urdu">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/pakistan.png" alt="">
            </div>
            <div class="name">Urdu</div>
        </div>
    </a>
    <a class="item" href = "/home/languageFluent/arabic">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/arabic.png" alt="">
            </div>
            <div class="name">Arabic</div>
        </div>
    </a>
</div>

<br>
<b>Language(s) that you are fluent in:</b>
<ul>
    {{#each languageFluent}}
    <li>{{this}}</li>
    {{/each}}
</ul>


<div class = "link-btns">
    <a class = "link-btn"href="/home/languageLearn">Previous</a>
    <a class = "link-btn" href="/home/">Done</a>
</div>
