
<div class="container-profile">
    <div class="top">
        <div class="left">
            <div class="friends">
                <div class="count">22</div>
                <div class="countText">Friend(s)</div>
            </div>
            <div class="languageLearnCount">
                <div class="count">10</div>
                <div class="countText">Language(s) Learned</div>
            </div>
            <div class="languageFluentCount">
                <div class="count">5</div>
                <div class="countText">Language(s) Fluent</div>
            </div>
        </div>
        <div class="middle">
            <img src="../static/images/black_profile_picture.png" alt="">
        </div>
        <div class="right">
            <div class="button addFriendButton">
                <button>Add Friend</button>
            </div>
            <div class="button messageButton">
                <button>Message</button>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="bio name"></div>
    </div>

</div>