<div class="container" style="width:50%;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
                <div class="card col-md-7 p-4 mb-0">
                    <div class="card-body">
                        <h1>Reset Password</h1>
                        <p class="text-medium-emphasis">Enter New Password</p>
                        <form action="/resetPassword/:token" method="post">
                            <div class="input-group mb-4"><span class="input-group-text">
                                    <svg class="icon">
                                        <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked">
                                        </use>
                                    </svg></span>
                                <input class="form-control" name="newPassword" type="password"
                                    placeholder="New Password">
                            </div>
                            <div class="input-group mb-4"><span class="input-group-text">
                                    <svg class="icon">
                                        <use xlink:href="/static/vendors/@coreui/icons/svg/free.svg#cil-lock-locked">
                                        </use>
                                    </svg></span>
                                <input class="form-control" name="confirm" type="password"
                                    placeholder="Confirm New Password">
                            </div>
                            <input type="hidden" name="resetKey" value={{resetKey}}>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-primary px-4" type="submit">Set New Password</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>