<link rel="stylesheet" href="../static/css/welcome.css">

<h1>Welcome {{username}}</h1>

    <p> What Languages Would you like to learn?</p>
<div class="container">
    <div class="item">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name">English</div>
        </div>
        <div class="language-tidbit">
            <p>hello</p>
        </div>
    </div>
    <div class="item">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name"></div>
        </div>
        <div class="language-tidbit">
            <p></p>
        </div>
    </div>
    <div class="item">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name"></div>
        </div>
        <div class="language-tidbit">
            <p></p>
        </div>
    </div>
    <div class="item">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name">English</div>
        </div>
        <div class="language-tidbit">
            <p></p>
        </div>
    </div>
    <div class="item">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name">English</div>
        </div>
        <div class="language-tidbit">
            <p></p>
        </div>
    </div>
    <div class="item">
        <div class="language-information">
            <div class="image">
                <img src="../static/flags/united-kingdom.png" alt="">
            </div>
            <div class="name">English</div>
        </div>
        <div class="language-tidbit">
            <p></p>
        </div>
    </div>
</div>